*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;

}
.grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 10%;
  width: 170px;
}
input{
  height: 70px;
  width: 70px;
}
.grid-cell{
  background-color: lightblue;
  border: 1px solid red;
  padding: 4px;
 
}
